USE [BCDatabase1]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2026/04/09 13:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Surname] [varchar](30) NOT NULL,
	[Year] [int] NOT NULL,
	[Grade] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Student] ([StudentID], [Name], [Surname], [Year], [Grade]) VALUES (1, N'John', N'Doe', 1, CAST(85.50 AS Decimal(5, 2)))
INSERT [dbo].[Student] ([StudentID], [Name], [Surname], [Year], [Grade]) VALUES (2, N'Jane', N'Smith', 1, CAST(92.00 AS Decimal(5, 2)))
INSERT [dbo].[Student] ([StudentID], [Name], [Surname], [Year], [Grade]) VALUES (3, N'Michael', N'Brown', 2, CAST(78.40 AS Decimal(5, 2)))
GO
